{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>DevTool List</title>
{% endblock %}

{% block content %}

  <div class="content-wrapper">
    <!-- DevTool 목록 -->
    <a href="create/">새로운 개발 툴 생성하기</a>
    {% for devtool in devtools %}
    <div class="mb-3">
      <a href="{% url 'devtools:devtool_detail' devtool.pk %}">
        <button type="button" class="btn btn-outline-secondary">
          <span>{{ devtool.name }}</span>
          <span>{{ devtool.kind }}</span>
          <span>{{ devtool.content }}</span>
          <!-- 기타 필드 추가 -->
        </button>
      </a>
    </div>
    {% empty %}
    <p>등록된 DevTool이 없습니다.</p>
    {% endfor %}
  </div>
{% endblock %}
