{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pirostagram</title>
  <link rel="stylesheet" href="{% static 'css/insta.css' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<header>
  <h1><a href="/" style="
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  ">😴 Pirostagram 😴</a></h1>
</header>
<body>
  {% block content %}

  {% endblock %}
</body>

<footer style="
display: flex;
justify-content: center;
align-items: center;
margin-top: 1rem;
">
  <h1>By devkev00</h1>
</footer>
</html>